table{
    width:50%;
    border-collapse: collapse;
    margin:30px auto;
}
/* cabezera */
tr th:first-of-type{
    text-align:left;
}
tr:first-of-type{
    background-color:rgb(150, 15, 15);
    color:white;
    
}


/* cuerpo color */

tr:nth-child(odd){
    background-color:lightgrey;
}

/* alinear texto */
tr th:last-of-type{
    text-align:right;
}

tr td:last-of-type{
    text-align:right;
}

tr td:not(:last-of-type,:first-of-type){
    text-align: center;
}